<mat-card class="user-card">
  <div class="dialog-header">
    <h2>Change Password</h2>
    <button class="close_btn" mat-icon-button color="warn" (click)="onCancel()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-grid">

    <!-- Old Password -->
    <mat-form-field appearance="outline">
      <mat-label>Old Password</mat-label>
      <input maxlength="20" [appPatternRestrict]="pattern.password" [type]="hideOldPassword ? 'password' : 'text'"
        matInput formControlName="oldPassword" placeholder="Enter your Password">
      <button mat-icon-button matSuffix type="button" (click)="hideOldPassword = !hideOldPassword">
        <mat-icon>{{ hideOldPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('oldPassword')?.touched && form.get('oldPassword')?.hasError('required')">
        Old Password is required
      </mat-error>
      <mat-error *ngIf="form.get('oldPassword')?.touched && form.get('oldPassword')?.hasError('pattern')">
        Password must contain at least 6 characters, including uppercase, lowercase, number, and special character.
      </mat-error>
    </mat-form-field>

    <!-- New Password -->
    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input maxlength="20" [appPatternRestrict]="pattern.password" [type]="hideNewPassword ? 'password' : 'text'"
        matInput formControlName="newPassword" placeholder="Enter your New Password">
      <button mat-icon-button matSuffix type="button" (click)="hideNewPassword = !hideNewPassword">
        <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.hasError('required')">
        New Password is required
      </mat-error>
      <mat-error *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.hasError('pattern')">
        Password must contain at least 6 characters, including uppercase, lowercase, number, and special character.
      </mat-error>
    </mat-form-field>

    <!-- Confirm Password -->
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input maxlength="20" [appPatternRestrict]="pattern.password" [type]="hideConfirmPassword ? 'password' : 'text'"
        matInput formControlName="confirmPassword" placeholder="Enter your Confirm Password">
      <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword">
        <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.hasError('required')">
        Confirm Password is required
      </mat-error>
      <mat-error *ngIf="form.get('confirmPassword')?.hasError('mismatch')">
        Passwords do not match
      </mat-error>


    </mat-form-field>

    <!-- Google Authenticator OTP -->
    <mat-form-field appearance="outline">
      <mat-label>Google Authenticator OTP</mat-label>
      <input maxlength="6" matInput formControlName="googleAuthOtp" placeholder="Enter your Google Authenticator OTP">
      <mat-error *ngIf="form.get('googleAuthOtp')?.hasError('required')">
        OTP is required
      </mat-error>
      <mat-error *ngIf="form.get('googleAuthOtp')?.hasError('minlength')">
        OTP must be 6 digits
      </mat-error>
      <mat-error *ngIf="form.get('googleAuthOtp')?.hasError('pattern')">
        OTP must contain only numbers
      </mat-error>
    </mat-form-field>

    <!-- Verify Button -->
    <div class="verify-container">
      <button mat-raised-button type="button" [disabled]="!isOtpLengthValid || otpVerifiedLoading"
        [ngClass]="{ 'btn-disabled': !isOtpLengthValid, 'btn-active': isOtpLengthValid }" (click)="verifyGoogleOTP()">
        Verify OTP
      </button>
    </div>

    <!-- Submit Button -->
    <div class="button_container">
      <button class="submit_btn submit_clr" mat-raised-button [disabled]="!isOtpVerified || form.invalid"
        [ngClass]="{ 'btn-disabled': !isOtpVerified || form.invalid, 'btn-active': isOtpVerified && form.valid }"
        type="submit">
        Submit
      </button>
    </div>
  </form>
</mat-card>