<!-- <mat-toolbar color="primary" class="app-header">


  <span class="app-title">My Application</span>


  <button mat-icon-button aria-label="Notifications">
    <mat-icon>notifications</mat-icon>
  </button>

  <button mat-icon-button aria-label="Account">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar> -->


<mat-toolbar class="awc-header">
  <div class="left-section">
    <img src="../../../assets/images/logo-awc.png" class="logo" alt="AWC Logo" />
  </div>

  <div class="spacer"></div>

  <div class="right-section">
    <mat-icon class="icon">language</mat-icon>
    <span class="lang">English</span>
    <span class="username">{{ roleData?.userId}}</span>
    <span class="role">{{ roleData?.roleName}}</span>
    <div (click)="logOut()">
      <button mat-raised-button class="logout-btn" type="button" >
        Log Out
      </button>
    </div>
  </div>
</mat-toolbar>