<!-- <mat-toolbar color="primary" class="app-header">


  <span class="app-title">My Application</span>


  <button mat-icon-button aria-label="Notifications">
    <mat-icon>notifications</mat-icon>
  </button>

  <button mat-icon-button aria-label="Account">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar> -->


<mat-toolbar class="awc-header">
  <div class="left-section">
    <img src="../../../assets/images/logo-awc.png" class="logo" alt="AWC Logo" />
      <span class="username">{{ roleData?.userId | titlecase}} | </span>
    <span class="role">{{ roleData?.roleName}}</span>
  </div>

  <div class="spacer"></div>

  <div class="right-section">
    <mat-icon class="icon">language</mat-icon>
    <span class="lang">English</span>
     <div *ngIf="roleData?.canChangePassword" (click)="openChangePassword()" >
    <mat-icon style="cursor: pointer;">lock_reset</mat-icon>
  </div>
  
    <div (click)="logOut()">
        <mat-icon>logout</mat-icon>
    </div>
  </div>
</mat-toolbar>