<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" [opened]="sidebarOpen" class="sidenav" style="border-radius: unset;">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <app-header></app-header>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<!-- Top horizontal toolbar -->
<mat-toolbar color="primary" class="top-menu" style="width: 100%; background: #1b1b1b;">
  <button mat-icon-button (click)="toggleSidebar()" style="background: #1b1b1b;color: white;">
    <mat-icon>menu</mat-icon>
  </button>  
    <app-header style="width: 100%;"></app-header>
</mat-toolbar>

<!-- Sidebar + content -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" [opened]="sidebarOpen" class="sidenav">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
