<!-- <div *ngIf="showForm" class="form-container">
  <form [formGroup]="countryForm" (ngSubmit)="saveCountry()">
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Country Name</mat-label>
        <input matInput formControlName="name" [appPatternRestrict]="pattern.alphabets" placeholder="Enter Country Name" maxlength="20" />
      <mat-error *ngIf="countryForm.get('name')?.hasError('required')">Country name is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Country ID</mat-label>
        <input matInput formControlName="id" [appPatternRestrict]="pattern.alphabets" placeholder="Enter Country ID" maxlength="20" />
      <mat-error *ngIf="countryForm.get('id')?.hasError('required')">Country ID is required</mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Country Code</mat-label>
        <input matInput formControlName="code" [appPatternRestrict]="pattern.mobile" placeholder="Enter Country Code" maxlength="2"/>
      <mat-error *ngIf="countryForm.get('code')?.hasError('required')">Country Code is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Country Region</mat-label>
        <input matInput formControlName="region" [appPatternRestrict]="pattern.alphabets" placeholder="Enter Country Region" maxlength="20" />
        <mat-error *ngIf="countryForm.get('region')?.hasError('required')">Country Region is required</mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Country Currency</mat-label>
        <mat-select formControlName="currency">
          <mat-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</mat-option>
        </mat-select>
        <mat-error *ngIf="countryForm.get('currency')?.hasError('required')">Currency is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Country Timezones</mat-label>
        <mat-select formControlName="timezone" multiple>
          <mat-option *ngFor="let zone of timezones" [value]="zone">{{ zone }}</mat-option>
        </mat-select>
        <mat-error *ngIf="countryForm.get('timezone')?.hasError('required')">Timezone is required</mat-error>
      </mat-form-field>
    </div>

    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button mat-button color="warn" type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div> -->




<mat-tab-group [(selectedIndex)]="selectedTabIndex">
  <mat-tab label="Provider">
    <ng-template matTabContent>
      <app-provider-management></app-provider-management>
    </ng-template>
  </mat-tab>
  
  <mat-tab label="Country">
    <ng-template matTabContent>

      <div
        style="background-color: #3f51b5; color: white; padding: .6rem; display: flex; justify-content: space-between; align-items: center;">
        <div>Country Management</div>
        <div>
          <button mat-raised-button color="accent" (click)="openDialog()"><mat-icon>add</mat-icon>Add Country</button>
          <button style="margin-left: 10px;"  mat-raised-button color="accent" (click)="api.goBack()">
            <mat-icon>arrow_back</mat-icon> Back
          </button>
        </div>
      </div>

      <table mat-table [dataSource]="countryList" class="mat-elevation-z8 full-width-table">

        <ng-container matColumnDef="srNo">
          <th mat-header-cell *matHeaderCellDef>S.No.</th>
          <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <!-- Country Name Column -->
        <ng-container matColumnDef="countryName">
          <th mat-header-cell *matHeaderCellDef> Country Name </th>
          <td mat-cell *matCellDef="let country"> {{ country.countryName }} </td>
        </ng-container>

        <!-- Country ID Column -->
        <ng-container matColumnDef="countryId">
          <th mat-header-cell *matHeaderCellDef> Country ID </th>
          <td mat-cell *matCellDef="let country"> {{ country.countryId }} </td>
        </ng-container>

        <!-- Country Code Column -->
        <ng-container matColumnDef="countryCode">
          <th mat-header-cell *matHeaderCellDef> Country Code </th>
          <td mat-cell *matCellDef="let country">{{ country.countryCode }} </td>
        </ng-container>

        <ng-container matColumnDef="numberCode">
          <th mat-header-cell *matHeaderCellDef> Number Code </th>
          <td mat-cell *matCellDef="let country"> {{ country.numberCode ? '+ ' + country.numberCode : '' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="shortName">
          <th mat-header-cell *matHeaderCellDef> Short Name </th>
          <td mat-cell *matCellDef="let country"> {{ country.shortName}}
          </td>
        </ng-container>

        <!-- Region Column -->
        <ng-container matColumnDef="countryRegion">
          <th mat-header-cell *matHeaderCellDef> Region </th>
          <td mat-cell *matCellDef="let country"> {{ country.countryRegion }} </td>
        </ng-container>

        <!-- Timezones Column -->
        <ng-container matColumnDef="countryTimezones">
          <th mat-header-cell *matHeaderCellDef> Timezones </th>
          <td mat-cell *matCellDef="let country"> {{ country.countryTimezones.join(', ') }} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let country">
            <mat-slide-toggle [checked]="country.status == 1" (change)="toggleStatus(country)"
              [disabled]="statusUpdating">
            </mat-slide-toggle>
          </td>
        </ng-container>


        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let row">
            <button class="edit_button" color="primary" (click)="openUpdateCompany(row)">
              Edit
            </button>
          </td>
        </ng-container>

        <!-- Header and Row Definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: black; color: white;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align: center; padding: 50px;">
            No records found
          </td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[50, 100, 150]" showFirstLastButtons></mat-paginator>
    </ng-template>
  </mat-tab>

  <mat-tab label="Currency">
    <ng-template matTabContent>
      <app-currency-management></app-currency-management>
    </ng-template>
  </mat-tab>

  <mat-tab label="Company">
    <ng-template matTabContent>
      <app-company-management></app-company-management>
    </ng-template>
  </mat-tab>

  
</mat-tab-group>