

.form-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}



mat-form-field {
  flex: 1;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.status-chip {
  background: #8bc34a;
  color: white;
  padding: 4px 10px;
  border-radius: 4px;
  display: inline-block;
}

.full-width-table {
  width: 100%;
  margin-top: 20px;
}

.mat-header-row {
  background-color: black !important;
}

.mat-header-cell {
  color: white !important;
}

