<div class="delete-dialog-container">
  <h2 mat-dialog-title>
    <mat-icon color="warn" class="delete-icon">warning</mat-icon>
    Confirm Deletion
  </h2>

  <mat-dialog-content class="message">
    <p>Are you sure you want to delete this item? This action cannot be undone.</p>
  </mat-dialog-content>

  <mat-dialog-actions class="button_container" align="end">
    <button mat-button class="cancel_btn" (click)="onCancel()">Cancel</button>
    <button mat-raised-button class="delete_btn" color="warn" (click)="onConfirm()">Delete</button>
  </mat-dialog-actions>
</div>