.table-header {
  display: flex;
  align-items: center;
  padding: 18px 16px;
  background: #d42a9c;
  color: white;
  border-radius: 4px 4px 0 0;
}

.table-header button {
    color: #d42a9c !important;
}

.spacer {
  flex: 1 1 auto;
}

.action-btn {
  margin-right: 8px;
  height: 35px !important;
}

.toolbar {
  margin: 10px 0;
}

.search-field {
  width: 300px;
}

::ng-deep .mat-mdc-header-row {
  background-color: black !important;
  color: white !important;
  font-weight: 600;
}

.mat-mdc-row:nth-child(even) {
  background-color: #f2f2f2;
}
.mat-mdc-row:nth-child(odd) {
  background-color: white;
}
.mat-mdc-row:hover {
  background-color: #f2f2f2;
}
