.table-header {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: #3f51b5;
  color: white;
  border-radius: 4px 4px 0 0;
}

.table-header-button {
  display: flex;
  align-items: center;
  padding: 18px 16px;
  background: #3f51b5;
  color: white;
  border-radius: 4px 4px 0 0;
}

.spacer {
  flex: 1 1 auto;
}


.spacer {
  flex: 1 1 auto;
}

.toolbar {
  margin: 10px 0;
}

.search-field {
  width: 300px;
}

::ng-deep .mat-mdc-header-row {
  background-color: black !important;
  color: white !important;
  font-weight: 600;
}

.mat-mdc-row:nth-child(even) {
  background-color: #f2f2f2;
}
.mat-mdc-row:nth-child(odd) {
  background-color: white;
}
.mat-mdc-row:hover {
  background-color: #f2f2f2;
}
