<!-- Table Header -->
<div class="filter-section">
    <mat-form-field class="filter-input" appearance="outline">
        <mat-label>Event Name</mat-label>
        <input [appPatternRestrict]="pattern.alphabets" maxlength="50" matInput [(ngModel)]="filterValues.eventName"
            placeholder="Search Name">
    </mat-form-field>
    <mat-form-field class="filter-input" appearance="outline">
        <mat-label>Status Type</mat-label>
        <mat-select [(ngModel)]="filterValues.status">
            <mat-option value="1">ACTIVE</mat-option>
            <mat-option value="2">INACTIVE</mat-option>
        </mat-select>
    </mat-form-field>

    <button class="search_btn" mat-stroked-button (click)="applyFilters()">
        Search
    </button>
    <button class="clear_btn" mat-stroked-button (click)="clearFilters()">
        Clear
    </button>
</div>

<div class="table-header">
    <span>Event Management</span>
    <span class="spacer"></span>
    <button mat-raised-button class="back-btn" (click)="goBack()">Back</button>
</div>

<!-- Table -->

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- S.No. -->
    <ng-container matColumnDef="srNo">
        <th mat-header-cell *matHeaderCellDef>S.No.</th>
        <td mat-cell *matCellDef="let row; let i = index">
            {{ i + 1 }}
        </td>
    </ng-container>

    <ng-container matColumnDef="EventId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>EventId/MarketId</th>
        <td mat-cell *matCellDef="let row">{{row.eventId}}</td>
    </ng-container>

    <ng-container matColumnDef="eventname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Event Name</th>
        <td mat-cell *matCellDef="let row">{{ row?.eventName | titlecase }}</td>
    </ng-container>

    <ng-container matColumnDef="compid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CompId/Name</th>
        <td mat-cell *matCellDef="let row">{{ row.competitionName | titlecase }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Open Date</th>
        <td mat-cell *matCellDef="let row">{{ row?.openDate | date:'MMM d, y, h:mm:ss a' }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sport Name</th>
        <td mat-cell *matCellDef="let row">{{ row?.sportType | titlecase }}</td>
    </ng-container>

    <ng-container matColumnDef="marketcount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Market Count</th>
        <td mat-cell *matCellDef="let row">{{ row?.marketCount }}</td>
    </ng-container>

    <!-- <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">
        <mat-slide-toggle [checked]="element.status == 1" (change)="toggleStatus(element)" [disabled]="statusUpdating">
        </mat-slide-toggle>
        </td>
    </ng-container> -->

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row">
            <button mat-raised-button class="event-btn" (click)="goToMarketPage(row)">
                Market
            </button>
        </td>
    </ng-container>
    <!-- Table Rendering -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align: center; padding: 50px;">
            No records found
        </td>
    </tr>

</table>

<!-- Paginator -->
<mat-paginator [pageSizeOptions]="[50, 100, 150]" showFirstLastButtons></mat-paginator>