<h2 mat-dialog-title class="dialog-title">
  <mat-icon class="title-icon">sports</mat-icon>
  Provider Base Sports
</h2>

<mat-dialog-content>
  <ng-container *ngIf="data.sportTypes?.length > 0; else noSports">
    <mat-card *ngFor="let sport of data.sportTypes" class="details-card">
      <mat-card-title>
        <mat-icon class="sport-icon">category</mat-icon>
        {{ sport.sport_type_name }}
      </mat-card-title>
      <mat-card-content>
        <div *ngIf="sport.sport_sub_type?.length > 0; else noSubTypes">
          <div *ngFor="let sub of sport.sport_sub_type" class="sub-type-item">
            <div class="sub-type-id">ID: {{ sub.id }}</div>
            <div class="sub-type-name">SubType: {{ sub.name }}</div>
          </div>
        </div>
        <ng-template #noSubTypes>
          <p class="no-data">No sport sub types available.</p>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <ng-template #noSports>
    <p class="no-data">No base sports available for this provider.</p>
  </ng-template>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" (click)="dialogRef.close()">
    <mat-icon>close</mat-icon> Close
  </button>
</mat-dialog-actions>
