<div class="header_container">
  <h2 mat-dialog-title>Base Sports</h2>
  <button class="close_btn" mat-icon-button color="warn" (click)="onCancel()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <mat-card  *ngFor="let sport of data.sportTypes">
    <mat-card-content>
      <div class="sub-type-item">
        <div class="sub-type-name">Name: {{ sport.sport_type_name }}</div>
        <div class="sub-type-id">ID: {{ sport.sport_type_id }}</div>
      </div>
    </mat-card-content>
  </mat-card>

  <ng-container *ngIf="!data.sportTypes || data.sportTypes.length === 0">
    <p class="no-data">No sport types available.</p>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions style="background-color: black;" align="end">
  <button class="cancel_btn" mat-raised-button color="primary" (click)="dialogRef.close()">Close</button>
</mat-dialog-actions>
