<h2 mat-dialog-title>Base Sports</h2>

<mat-dialog-content>
  <mat-card class="details-card" *ngFor="let sport of data.sportTypes">
    <mat-card-content>
      <div class="sub-type-item">
        <div class="sub-type-id">ID: {{ sport.sport_type_id }}</div>
        <div class="sub-type-name">Name: {{ sport.sport_type_name }}</div>
      </div>
    </mat-card-content>
  </mat-card>

  <ng-container *ngIf="!data.sportTypes || data.sportTypes.length === 0">
    <p class="no-data">No sport types available.</p>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="dialogRef.close()">Close</button>
</mat-dialog-actions>
