.details-card {
  /* background: #fff8e1;  */
  border-radius: 8px;
  padding: 12px;
}

.sub-type-item {
  background: white;
  border: 1px solid;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.sub-type-id {
  font-weight: bold;
  /* color: #ff6f00; */
}

.sub-type-name {
  color: #424242;
}

.no-data {
  font-style: italic;
  color: #757575;
}

h2 {
  background-color: black;
  color: white !important;
}

.close_container {
  background-color: black;
}

.cancel_btn {
  background-color: darkred;
  color: white;
}

.close_btn {
  border: 2px solid white;
  color: white !important;
  border-radius: 50%; /* circle shape */
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.header_container {
  display: flex;
  background-color: black;
  justify-content: space-between;
}