<mat-nav-list class="sidebar-nav">
  <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" [routerLink]="['/dashboard']">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </a>

  <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" [routerLink]="['/users']">
    <mat-icon>group</mat-icon>
    Users
  </a>

  <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" [routerLink]="['/role']">
    <mat-icon>security</mat-icon>
    Roles
  </a>
  <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" [routerLink]="['/countries']">
    <mat-icon>public</mat-icon>
    Country
  </a>
  <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" [routerLink]="['/currencies']">
    <mat-icon>currency_exchange</mat-icon>
    Currency
  </a>
  <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" [routerLink]="['/company']">
    <mat-icon>business</mat-icon>
    Company
  </a>
  <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" [routerLink]="['/sports']">
    <mat-icon>sports</mat-icon>
    Sports
  </a>

  <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" [routerLink]="['/comptition']">
    <mat-icon>emoji_events</mat-icon>
    Competition
  </a>

  <a class="side-bar-link" mat-list-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </a>
</mat-nav-list>