/* .sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 240px;
  background: #f5f5f5;
} */

.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 220px;
  background-color: #2e3b4e;
  color: white;
}

mat-toolbar.header-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.main-content {
  padding: 16px;
}

::ng-deep .sidebar-nav .mdc-list-item__primary-text {
  color: white !important;
  background-color: transparent !important;
}

::ng-deep .sidebar-nav .active .mdc-list-item__primary-text {
  color: white !important;
}

::ng-deep .sidebar-nav .side-bar-link.active {
  background: goldenrod !important;
}

.parent-link {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
}

.parent-link:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.parent-icon {
  margin-right: 8px;
  color: goldenrod;
}

.expand-icon {
  margin-left: auto;
  color: goldenrod;
}

.nested-links {
  padding-left: 32px;
}

.nested-links a {
  display: block;
  padding: 8px 0 8px 16px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;

}

.nested-links a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.nested-links a.active {
  background-color: goldenrod;
  color: black;
  border-radius: 20px;
}
