<mat-nav-list class="sidebar-nav">
  <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" [routerLink]="['/dashboard']">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </a>

  <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" [routerLink]="['/users']">
    <mat-icon>group</mat-icon>
    Users
  </a>

  <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" [routerLink]="['/baseSports']">
    <mat-icon>group</mat-icon>
    Add Base Sports
  </a>

  <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" [routerLink]="['/role']">
    <mat-icon>security</mat-icon>
    Roles
  </a>
  <!-- <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" [routerLink]="['/countries']">
    <mat-icon>public</mat-icon>
    Country
  </a>
  <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" [routerLink]="['/currencies']">
    <mat-icon>currency_exchange</mat-icon>
    Currency
  </a>
  <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" [routerLink]="['/company']">
    <mat-icon>business</mat-icon>
    Company
  </a> -->
  <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" [routerLink]="['/sports']" (click)="toggleAddDefaults()" >
    <mat-icon>sports</mat-icon>
    Add Defaults Sports
  </a>

  <div *ngIf="showAddDefaults" class="nested-links">
  <a
    *ngFor="let item of addDefaultsChildren"
    class="side-bar-link"
    mat-list-item
    [routerLinkActive]="['active']"
    [routerLink]="[item.route]"
  >
      <mat-icon>{{ item.icon }}</mat-icon>

    {{ item.name }}
  </a>
</div>


  <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" [routerLink]="['/country-management']" (click)="toggleDefaults()" >
    <mat-icon>settings</mat-icon>
    Add Defaults
  </a>

  
  <div *ngIf="showAddDefault" class="nested-links">
  <a
    *ngFor="let item of addDefaultsjaved"
    class="side-bar-link"
    mat-list-item
    [routerLinkActive]="['active']"
    [routerLink]="[item.route]"
  >
      <mat-icon>{{ item.icon }}</mat-icon>

    {{ item.name }}
  </a>
</div>

  <!-- Add Defaults Parent Item -->



    <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" [routerLink]="['/usedSportsIds']">
    <mat-icon>sports</mat-icon>
    usedSportsIds
  </a>

  <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" [routerLink]="['/comptition']">
    <mat-icon>emoji_events</mat-icon>
    Competition
  </a>

   <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" [routerLink]="['/loginPermission']">
    <mat-icon>settings</mat-icon>
    Login Permisison
  </a>

  <a class="side-bar-link" mat-list-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </a>
</mat-nav-list>