<mat-nav-list class="sidebar-nav">
  <!-- Dashboard -->
  <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>

  <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" routerLink="/users">
    <mat-icon>group</mat-icon> Users
  </a>

  <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" routerLink="/role">
    <mat-icon>security</mat-icon> Roles
  </a>

  <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" routerLink="/loginPermission">
    <mat-icon>settings</mat-icon> Login Permission
  </a>

  <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" routerLink="/baseSports">
    <mat-icon>sports_soccer</mat-icon> Add Base
  </a>

  <a class="side-bar-link" [class.parent-active]="isParentActive(addDefaultsChildRoutes)" [routerLinkActive]="['active']"
    [routerLink]="['/sports-management']" mat-list-item (click)=" toggleAddDefaults()">
    <mat-icon>sports</mat-icon> Add Defaults Sports
  </a>

    <div *ngIf="showAddDefaults" class="nested-links">
    <!-- <ng-container *ngFor="let item of addDefaultsChildren">
      <a *ngIf="!item.children" class="side-bar-link" mat-list-item [routerLinkActive]="['active']"
        [routerLink]="item.route">
        <mat-icon>{{ item.icon }}</mat-icon> {{ item.name }}
      </a> -->

    <!-- Sport with nested children -->
    <!-- <div *ngIf="item.children">
        <a class="side-bar-link" mat-list-item (click)="toggleSportChildren()">
          <mat-icon>{{ item.icon }}</mat-icon> {{ item.name }}
        </a>

        <div *ngIf="showSportChildren" class="nested-links">
          <a *ngFor="let child of item.children" class="side-bar-link" mat-list-item [routerLinkActive]="['active']"
            [routerLink]="child.route">
            <mat-icon>{{ child.icon }}</mat-icon> {{ child.name }}
          </a>
        </div>
      </div> -->
    <!-- </ng-container> -->

    <ng-container *ngFor="let item of addDefaultsChildren">
      <a class="side-bar-link" mat-list-item [routerLink]="item.route">
        <mat-icon>{{ item.icon }}</mat-icon> {{ item.name }}
      </a>
    </ng-container>
  </div>

  <a class="side-bar-link" [class.parent-active]="isParentActive(sportChildRoutes)"
    [routerLinkActive]="['active']" [routerLink]="['/country-management']" mat-list-item (click)="toggleDefaults()" >
    <mat-icon>settings</mat-icon> Add Defaults 
  </a>

  <!-- Users -->


  <!-- Add Bases -->


  <!-- Roles -->




  <!-- Add Defaults Sports -->


  <!-- Add Defaults Sports Children -->


  <!-- Add Defaults -->


  <div *ngIf="showAddDefault" class="nested-links">
    <a *ngFor="let item of addDefaultsjaved" class="side-bar-link" mat-list-item [routerLinkActive]="['active']"
      [routerLink]="item.route">
      <mat-icon>{{ item.icon }}</mat-icon> {{ item.name }}
    </a>
  </div>

  <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" routerLink="/comptitionprovider">
    <mat-icon>emoji_events</mat-icon> Competition
  </a>

  <!-- Other links -->
  <a class="side-bar-link" mat-list-item [routerLinkActive]="['active']" routerLink="/usedSportsIds">
    <mat-icon>sports</mat-icon> UsedSportsIds
  </a>

  



  <a class="side-bar-link" mat-list-item (click)="logout()">
    <mat-icon>logout</mat-icon> Logout
  </a>
</mat-nav-list>