.table-header {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: #292602;
  color: white;
}

.table-header-button {
  display: flex;
  align-items: center;
  padding: 18px 16px;
  background: #9b8f0e;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}


.spacer {
  flex: 1 1 auto;
}

.toolbar {
  margin: 10px 0;
}

.search-field {
  width: 300px;
}

::ng-deep .mat-mdc-header-row {
  background-color: black !important;
  color: white !important;
  font-weight: 600;
}

.mat-mdc-row:nth-child(even) {
  background-color: #f2f2f2;
}
.mat-mdc-row:nth-child(odd) {
  background-color: white;
}
.mat-mdc-row:hover {
  background-color: #f2f2f2;
}

::ng-deep .select .mat-mdc-form-field-flex {
  height: 10px; /* Reduce total height */
  min-height: 10px;
}

::ng-deep .select .mat-mdc-text-field-wrapper {
  padding: 0 8px; /* Reduce internal padding */
}

::ng-deep .select .mat-mdc-select-trigger {
  min-height: 20px; /* Reduce clickable area height */
  line-height: 20px;
}

::ng-deep .select .mat-mdc-form-field-infix {
  padding: 0 !important; /* Remove extra vertical padding */
}