<mat-card class="user-card">
    <div class="dialog-header">
        <h2>{{ countryData ? 'Edit Country' : 'Add Country' }}</h2>
        <button class="close_btn" mat-icon-button color="warn" (click)="onCancel()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-grid">

        <mat-form-field appearance="outline">
            <mat-label>Country List</mat-label>
            <mat-select formControlName="countryName">
                <mat-option *ngFor="let name of countryName" [value]="name.countryName">
                    {{ name?.countryName }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>ID</mat-label>
            <input matInput formControlName="id" maxlength="20" placeholder="Enter ID"
                [appPatternRestrict]="pattern.mobile" />
            <mat-error *ngIf="form.get('id')?.hasError('required')">ID is required</mat-error>
            <mat-error *ngIf="form.get('id')?.hasError('minlength')">
                ID must be at least {{ form.get('id')?.errors?.['minlength']?.requiredLength }} characters
            </mat-error>
        </mat-form-field>
        
        <div class="button_container">
             <button class="submit_btn submit_clr" mat-raised-button color="primary" type="submit" [disabled]="loading">
                <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
                {{ loading ? 'Saving...' : (countryData ? 'Update Country' : 'Add Country') }}
            </button>
            <button class="submit_btn cancel_btn" mat-raised-button color="primary" type="button" (click)="onCancel()">
                Cancel
            </button>
        </div>
    </form>
</mat-card>