<!-- <div class="filter-section">
  <mat-form-field class="filter-input" appearance="outline">
    <mat-label>Company Name</mat-label>
    <input matInput [(ngModel)]="filterValues.name" placeholder="Search Name">
  </mat-form-field>

  <mat-form-field class="filter-input" appearance="outline">
    <mat-label>Company Type</mat-label>
    <mat-select [(ngModel)]="filterValues.companyType">
      <mat-option value="">All</mat-option>
      <mat-option *ngFor="let type of companyType" [value]="type.id">{{ type.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="filter-input" appearance="outline">
    <mat-label>Sort</mat-label>
    <mat-select [(ngModel)]="filterValues.sort">
      <mat-option value="">All</mat-option>
      <mat-option *ngFor="let c of sortType" [value]="c.id">{{ c.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button class="search_btn" mat-stroked-button (click)="applyFilter()">
     Search
  </button>

  <button class="clear_btn" mat-stroked-button (click)="clearFilters()">
    Clear
  </button>
</div> -->


<!-- Table Header -->
<div class="table-header">
  <span>Company Management</span>
  <span class="spacer"></span>
  <button mat-raised-button style="margin-right: 10px;" color="accent" (click)="openAddProvider()">
    <mat-icon>add</mat-icon> Add Provider
  </button>
  <button mat-raised-button color="accent" (click)="openAddCompany()">
    <mat-icon>add</mat-icon> Add Company
  </button>
  <button style="margin-left: 10px;" mat-raised-button color="accent" (click)="api.goBack()">
    <mat-icon>arrow_back</mat-icon> Back
  </button>
</div>

<!-- Table -->
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- S.No. -->
  <ng-container matColumnDef="srNo">
    <th mat-header-cell *matHeaderCellDef>S.No.</th>
    <td mat-cell *matCellDef="let row; let i = index">
      {{ i + 1 }}
    </td>
  </ng-container>
  <!-- Name -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let row">{{ row.name }}</td>
  </ng-container>

  <ng-container matColumnDef="companyId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Id</th>
    <td mat-cell *matCellDef="let row">{{ row.id }}</td>
  </ng-container>

  <!-- Email -->
  <ng-container matColumnDef="companyType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Supported Currencies</th>
    <td mat-cell *matCellDef="let row"> {{ getCurrencyNames(row) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Country Name</th>
    <td mat-cell *matCellDef="let row">{{ row.country?.countryName }}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let country">
      <mat-slide-toggle [checked]="country.status == 1" (change)="toggleStatus(country)" [disabled]="statusUpdating">
      </mat-slide-toggle>
    </td>
  </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let row">
      <button class="edit_button" color="primary" (click)="openEditCompany(row)">
        Edit
      </button>
    </td>
  </ng-container>

  <!-- Table Rendering -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align: center; padding: 50px;">
      No records found
    </td>
  </tr>

</table>

<!-- Paginator -->
<mat-paginator [pageSizeOptions]="[50, 100, 150]" showFirstLastButtons></mat-paginator>