<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Login</h2>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>UserId</mat-label>
      <input matInput formControlName="identifier" type="text" placeholder="Enter your userId">
      <mat-error *ngIf="loginForm.get('identifier')?.hasError('required')">UserId is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" placeholder="Enter your password">
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">Minimum 6 characters</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" class="login-btn" type="submit" [disabled]="loading">Login</button>
  </form>
</div>
