<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Login</h2>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>UserId</mat-label>
      <input matInput formControlName="identifier" type="text" placeholder="Enter your userId">
      <mat-error *ngIf="loginForm.get('identifier')?.hasError('required')">UserId is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password"
        placeholder="Enter your password">
      <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="loginForm.get('password')?.hasError('pattern')">
        Password must contain at least 6 characters, including uppercase, lowercase, number, and special character.
      </mat-error>

    </mat-form-field>

    <button mat-raised-button color="primary" class="login-btn" type="submit" [disabled]="loading">Login</button>
  </form>
</div>